
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif; 
    margin: 0 auto;
    overflow-x: hidden;
}

:root {
    --margin_bottom: 30px;
    --box_shadow: 1px 2px 1px silver;
    --background_color: rgb(245, 243, 243); 
}

/* FADE IN BODY */

.fade_transition {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
}

.fade_in {
    opacity: 1;
}
