
$shadow: 0px 2px 1px rgb(226, 224, 224);

/* ABOUT PARENT CONTAINER */

.about_parent_container {
    width: 100%;
    padding: 40px 0px;
    margin-top: 30px;
    background: rgb(245, 243, 243);
    box-shadow: $shadow;
    margin-bottom: var(--margin_bottom);

    display: flex;
    align-items:center;
    justify-self: center;
    // flex-direction: column;
    flex-wrap: wrap;
}

.about_parent_container div {
    flex: 1;
    // padding: 20px 40px;
}

.about_parent_container div:nth-child(1){
    padding: 0px 10px;
    min-width: 300px;
}

.about_parent_container div:nth-child(2){
    flex: 1.5;

    h2 {
        text-align: center;
    }
    span {
        display:flex;
        justify-content: center;
        align-items:center;
    }

    iframe {
        padding: 10px;
        flex:1;
        box-shadow: 1px 2px 1px silver;
    }
}

@media screen and (max-width: 400px){
    iframe {
        width: 300px;
        height: 200px;
    }
}

@media screen and (min-width: 768px){
    iframe {
        height: 500px;
    }
}