
.chat_parent_container {
    background-image: url('../images/conferencia.jpg'); 
    background-size: cover;
    background-position: center;
    border: solid thick rgba(255, 174, 0, 0.719);
    box-shadow: 1px 3px 3px rgb(182, 181, 181);
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat_parent_container img {
    width: 80px;
    border-radius: 50%;
}

/* JOIN ROOM BOX */ 
.chat { 
    background: rgba(255, 255, 255, .7);
    border: solid thick rgba(255, 172, 17, .6);
    /* padding: 20px; */
    width: 500px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.chat_content {
    padding: 20px;
}

.chat_items {
    border: solid thick rgba(255, 166, 0, 0.137);
}

.chat_btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

video, #remote_media_div {
    width: 100%;
    border: solid thick rgba(255, 255, 255, .5);
}

.twilio_display {
    display: none;
}